*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.img-container{
    height: 100vh;
    width: 100%;
    background: url(thumb-1920-597965.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.play-btn{
    position: absolute;
    right: 7rem;
    bottom: 5rem;
    animation: bounce 2s infinite;
    width: 7rem;
    
}
@keyframes bounce {
    0%{
        transform: translateY(0);
        transition-timing-function:ease-out ;
    }
    50%{
        transform: translateY(2rem);
        transition-timing-function:ease-in ;
    }
    100%{
        transform: translateY(0);
        transition-timing-function:ease-out ;
    }
}
.video-trailer{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.308);
    transition: all 1s ease;
}

.video-trailer video{
    max-width: 70%;
    min-width: 40rem;
    position: relative;
}
.close-btn{
    font-size: 8rem;
    position: absolute;
    color: rgb(0, 0, 0);
    z-index: 1;
    top: 1rem;
    right: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgba(255, 255, 255, 0.342); */
    border-radius: 50%;
    width: 8rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
}