*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    font-size: 62.5%;
}
.container{
    height: 100vh;
    width: 100%;
    background-color:rgb(55, 55, 55);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap:1rem;
}
li{
    list-style-type: none;
    font-size: 2rem;
}
li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1rem 2rem;
    position: relative;
    z-index: 1;
}
li a::before{
    content: "";
    position: absolute;
    top:10%;
    left: 10%;
    height: 30%;
    aspect-ratio: 1;
    border-left:2px solid white ;
    border-top:2px solid white;
    opacity: 0;
    transition: all 1s ease;
}
li a::after{
    content: "";
    position: absolute;
    bottom:10%;
    right: 10%;
    height: 30%;
    aspect-ratio: 1;
    border-bottom:2px solid white ;
    border-right:2px solid white;
    opacity: 0;
    transition: all 1s ease;
}
li a:hover::before{
    opacity: 1;
    top:0;
    left: 0;
}
li a:hover::after{
    opacity: 1;
    bottom:0;
    right: 0;
}